.Mc-Laren {
    background: url('../photo/fon-one.png') no-repeat;
    width: 100%;
    height: 461px;
    background-size: cover;

}
.new-serie h1 {
    padding-top: 165px;
    margin-left: 129px;
    margin-right: 129px;
    color: white;
    font-size: 72px;
}
