.Card-Items {
    padding-top: 80px;
    margin-left: 129px;
    margin-right: 135px;
}

.Compact-down {
    font-size: 36px;
    float: right;
}

.Card-list {
    margin-top: 100px;
}

.Card {
    width: 270px;
    height: 298px;
    background: #F3F2F2;
    border-radius: 25px;
    border: 1px solid rgba(196, 196, 196, 0.5);
}

.Card-img {
    width: 236px;
    height: 190px;
    padding-top: 28px;
    padding-left: 10px
    
}

.Cap-title {
    background: #FFF;
    margin-top: 27px;
    border-radius: 25px;
    border: 1px solid rgba(196, 196, 196, 0.5);
    padding: 22px 23px;
    display: flex;
    justify-content: space-between;
}
.Card-description {
    color: #847E7E;
}
.Card-description p {
    font-size: 13px;
    padding-top: 4px;
    line-height: 16px;
    letter-spacing: -0.05em;
}
.Cap-price {
    margin-top: 13px;
    color: #FDDB16;
}
.switches {
    display: flex;
    justify-content: center;
    margin: 73px;
}
.switches a {
    margin-left: 70px ;
    text-decoration: none;
    color: black;
}
.switches-logo {
    font-size: 23px;
    margin-left: 34px;
}

.switches a:hover {
    border-bottom: 1px solid #000000;
}